x-logging:
  &default-logging
  driver: "syslog"
  options:
    syslog-address: ${SYSLOG_SOCKET:-unixgram:///dev/log}
    syslog-facility: ${SYSLOG_FACILITY:-local0}
    tag: 'container/proxy'

x-healthcheck:
  &default-healthcheck
  start_period: 40s
  interval: 30s
  timeout: 15s
  retries: 5
  
services:
  proxy:
    build:
      context: docker
    cap_add:
      - NET_ADMIN
      - MKNOD
    devices:
      - "/dev/net/tun:/dev/net/tun"
    ports:
      - "127.0.0.1:9090:80"
      - "127.0.0.1:41641:41641"
    volumes:
      - "statedir:/var/lib/tailscale"
    environment:
      PIES_SYSLOG_SERVER: $PIES_SYSLOG_SERVER
      SYSLOG_SOCKET:      $SYSLOG_SOCKET 
      SYSLOG_FACILITY:    $SYSLOG_FACILITY
      JWKS_JSON:          $JWKS_JSON
    restart: unless-stopped
    logging: *default-logging
  redis:
    image: redis:8.4.0
    restart: unless-stopped
    logging: *default-logging

volumes:
  statedir:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/var/lib/mounts/tailscaled/statedir"

    