x-healthcheck:
  &default-healthcheck
  start_period: 40s
  interval: 30s
  timeout: 15s
  retries: 5
  
services:
  proxycam:
    build:
      context: docker
    ports:
      - "${PROXYCAM_PORT:-127.0.0.1:9090}:80"
    volumes:
      - "newconfig:/var/newconfig"
    environment:
      JWKS_JSON:          $JWKS_JSON
    restart: unless-stopped
  redis:
    image: redis:8.4.0
    restart: unless-stopped

volumes:
  newconfig:

    