x-logging:
  &default-logging
  driver: "syslog"
  options:
    syslog-address: ${SYSLOG_SOCKET:-unixgram:///dev/log}
    syslog-facility: ${SYSLOG_FACILITY:-local0}
    tag: '{{if (index .ContainerLabels "com.docker.stack.namespace")}}{{index .ContainerLabels "com.docker.stack.namespace"}}/{{end}}{{if (index .ContainerLabels "com.docker.swarm.service.name")}}{{index .ContainerLabels "com.docker.swarm.service.name"}}/{{end}}{{.Name}}/{{.ID}}'

x-healthcheck:
  &default-healthcheck
  start_period: 40s
  interval: 30s
  timeout: 15s
  retries: 5
  
services:
  proxy:
    build:
      context: .
    environment:
      KEY: $KEY
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/net/tun:/dev/net/tun"
    ports:
      - "127.0.0.1:9090:80"
      - "127.0.0.1:9091:443"
      - "127.0.0.1:41641:41641"
    restart: unless-stopped
    logging: *default-logging
