x-healthcheck:
  &default-healthcheck
  start_period: 40s
  interval: 30s
  timeout: 15s
  retries: 5
  
services:
  proxycam:
    build:
      context: docker
    ports:
      - "${PROXYCAM_HTTP_PORT:-127.0.0.1:9080}:80"
      - "${PROXYCAM_HTTPS_PORT:-127.0.0.1:9443}:443"
    volumes:
      - "newconfig:/var/newconfig"
    environment:
      JWKS_JSON:          $JWKS_JSON
      PROXYCAM_TLS:	  ${PROXYCAM_TLS:-}
      PROXYCAM_ACME_TEST: ${PROXYCAM_ACME_TEST:-}
    restart: unless-stopped
  redis:
    image: redis:8.4.0
    restart: unless-stopped

volumes:
  newconfig:

    